/* Estilizando o navbar*/
.navbar {
    background-color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 36px;
    height: 24px;
}

.logotipo {
    color: #ff4800;
    font-size: 25px;
}

.btn-color {
    background-color: #ff4800;
    color: white;
}

/* Estilização geral para as sections */

.espacamento {
    margin-top: 2rem;    
}

/* Estilizando a section 1*/
.section-content {
    height: 40vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-image: url("http://127.0.0.1:5500/assets/img/navio.png");
      
      /* Garante que a imagem de fundo cubra toda a seção */
      background-size: cover;
      
      /* Centraliza a imagem de fundo na seção */
      background-position: center;
      
      /* Adiciona altura à seção para que a imagem de fundo seja visível */
      /* height: 500px; Ajuste conforme necessário */
      
      /* Adiciona cor de fundo caso a imagem não carregue ou enquanto estiver carregando */
      background-color: #c40202;
}

.input-section1 {
    width: 30rem;
}

.subtitle-section1 {
    font-weight: 900;
    color: #ff4800;
}

/* Estilizando a section 2*/
#section2 {
    background-color: #f2f2f4;
}

.text-section2 {
    padding: 2rem;
}

.minititle {
    color: #ff4800;
    font-size: small;
}

.titlesection {
    color: #1f1f2e;
    font-size: xx-large;
    font-weight: 900;
}

.numero-section2 {
    display: block;
    color: #ff4800;
    font-size: xx-large;
    font-weight: 900;
}

.legenda-section2 {
    font-size: small;
}

.form {
    background-color: #ff4800;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-formsection2 {
    background-color: #1f1f2e;
    color: white;
}

/* Estilizando a section 3*/
.conteudo-section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.package {
    width: 250px;
    height: 380px;
    background-color: #f2f2f4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.package-preco {
    font-size: 40px;
    font-weight: 900;
}

.package-title {
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: #ff4800;
}

.btn-package {
    background-color: #ff4800;
    color: white;
    width: 120px;
}

/* Estlizando a section 4*/
.conteudo-section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card {
    width: 200px;
    height: 250px;
    background-color: #f2f2f4;
    border-left: 0px;
    border-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #ff4800;
}

.image-card {
    width: 200px;
    height: 175px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 15px;
}

.card-title {
    font-weight: 700;
}

/* Estilizando a section 5 */

.post-blog {
    width: 380px;
    height: 450px;
    background-color: #f2f2f4;
    border-left: 0px;
    border-right: 0px;
    font-size: small;
}

.image-post {
    width: 380px;
    height: 250px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 15px;
}

.conteudo-post {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.perfil-post {
    display: inline;
    margin-right: 1rem;
}

.image-perfil {
    width: 35px;
    border-radius: 50px;
}

.web-design {
    display: inline;
}

/* Estilizando a section 6*/

#section6 {
    background-color: #1f1f2e;
    color: white;
    width: 100%;    
    font-size: small;
}

.wrap-section6 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10rem;
    /* topo | direita | inferior | esquerda */
    margin: 0 3rem 0 3rem;
    /* superior | direita | inferior | esquerda */
    padding: 3rem 0 3rem 0;
}

.sub-section6 {
    width: 30rem;
}

.titlesection6 {
    color: #ff4800;
}

.list-informacoes {
    list-style-type: none;
    padding: 0;      
}

ul li span {
    font-weight: 900;
}

.icones {
    display: flex;
    gap: 0.5rem;
}

.circulo {
    width: 38px;
    height: 38px;
    border: 1px solid white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 3rem 0 3rem;
    font-size: small;
}

.list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.link {
    text-decoration: none;
    color: inherit;
}

.color {
    color: #ff4800;
}


